.container-text{
    overflow-x: visible;
    font-size: 25px;
    margin: 13px;
    padding: 25px;
    background-color: white;
    text-align: center;
}

.img-link{
    max-width: 60%;
    border-radius: 50px;
    transition: transform .5s ease;
}

.img-link:hover{
    transform: scale(1.1);
}

.tittle{
    font-family: "Allura", cursive;
    font-size: 70px;
    font-style: normal;
    color: rgb(100, 41, 100);
}

.column{
    display: flex;
    flex-direction: row;
}

.fancy-img{
    border-radius: 50px;
    max-width: 50%;
}

.example-img{
    width: 25%;
    padding: 10px;
    border-radius: 20px;
    transition: transform .5s ease;
}

.example-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}